body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: #000;
    background-image: url('https://i.imgur.com/hoeYEFL.gif');
    background-size:cover;
    overflow: hidden;
}

@media screen and (max-width: 769px) {
    body {
        background-position-x: 42%;
    }
    
    canvas {
        transform: scale(3.8);
    }
}